
// Initial Color Theme: (https://coolors.co/0c1821-d6c9c9-94e8b4-72bda3-5e8c61)

// Color Theme: Light Shades
$black-shadows: #CAB9B9;
$pale-silver: #D6C9C9;
$cultured: #F6F3F3;

// Color Theme: Dark Shades
$rich-black-darker: #050B0F;
$rich-black: #0C1821;
$prussian-blue: #162A3B;
$indigo-dye: #1F435C;
$lapis-lazuli: #2E638A;

// Color Theme: Highlights (https://coolors.co/94E8B4-5E8C61-0CCA4A-FF7F11-A31420)
$celadon: #94E8B4;
$russian-green: #5E8C61;
$dark-pastel-green: #0CCA4A;
$amber: #FF7F11;
$ruby-red: #A31420;

// Color Theme: Links (https://coolors.co/72BDA3-82C4AC-ACD8C8-9B287B-9B9ECE)
$green-sheen: #72BDA3;
$eton-blue: #82C4AC;
$middle-blue-green: #ACD8C8;
$violet-crayola: #9B287B;
$blue-bell: #9B9ECE;
